<h4>
  <%= link_to question.title, question_path(question) %>
  <% if current_user == question.user %>
    |
    <%= link_to 'edit', edit_question_path(question) %>
    |
    <%= link_to 'delete', "/questions/#{question.id}/", method: :delete %>
  <% end %>
</h4>
